@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;
}

.MuiCardHeader-title {
  width: max-content;
  text-overflow: ellipsis ellipsis;
  overflow: hidden;
  max-width: 150px;
}
