@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/materialUI.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90vw;
}


.button-wrapper {
  button {
    width: 100%;
  }
}
